server:
  port: 8081
spring:
  application:
    name: market-service
  datasource:
    url: jdbc:postgresql://localhost:5432/trading_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
market:
  data:
    tickers:
      - AAPL
      - TSLA
      - BTC
